<html>
    <head>
        <title>Buy</title>
        <script src="https://js.stripe.com/v3/"></script>
    </head>
    <body>
        <h1>{{ item.name }}</h1>
        <p>{{ item.description }} </p>
        <p>{{ item.display_price }}$</p>
        <button id="buy-button">Buy</button>
    </body>
    <script type="text/javascript">
        var stripe = Stripe('{{STRIPE_SECRET_KEY}}');
        var buyButton = document.getElementById('buy-button');
        buyButton.addEventListener('click',function () {
            // Create a new Checkout Session using the server-side endpoint 
            // Redirect to Stripe Session Checkout
            fetch('/api/buy/{{ item.id }}', { method: 'GET' })
                .then(response => response.json())
                .then(session => stripe.redirectToCheckout({ sessionId: session.id }))
        });
    </script>
</html>