<h1 align="center">payment Django+Stripe</h1>

<a href="https://github.com/airyou-code/Notification_service" target="_blank">REDME</a> 

<h3> Description</h3>
<p>- The project was created as a test task.</p>
<p>- The task is to implement a payment system for goods using Stripe</p>

<h4>Go to the admin panel:</h4>
<p>- `http://127.0.0.1:8000/admin/`</p>

<h3> Usage API</h4>
<p>- `GET http://127.0.0.1:8000/api/`</p>

<h3> HTML response</h3>
<p>Request with the help of which you can get a simple HTML page with information about the selected Item and a Buy button.
By clicking on the Buy button, a request for api/buy/{id} should occur, session_id should be obtained, and then a redirect to the Checkout form stripe should occur using the Stripe JS library.redirectToCheckout(SessionID=session_id)</p>
<p>- GET http://127.0.0.1:8000/item/{id}</p>

<p>Request with the help of which you can get a simple HTML page with information about the selected Order and a Buy button.
By clicking on the Buy button, a request for api/buyorder/{id} should occur, session_id should be obtained, and then a redirect to the Checkout form stripe should occur using the Stripe JS library.redirectToCheckout(SessionID=session_id)</p>

<p>- GET http://127.0.0.1:8000/order/{id}`</p>
